<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-132/blob/main/Actividad_Semana_3_Version_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
#INSTITUTO TECNOLOGICO Y DE ESTUDIOS SUPERIORES DE MONTERREY

#TC4029.10 Ciencia y Analitica de Datos

#Dr. Jobish Vallikavungal

#A00453954 - Luis Fernando Rios Piedra 
#A01086411 - David Eduardo Garcia Reyes

#Actividad Semana 3 - 1 (Bases de datos y limpieza)

#Octubre 2022

In [64]:
#Conceptos basicos (Insights)

#Base de datos y Data Warehouse

#Una base de datos es un conjunto de informacion la cual esta organizada normalmente en forma de tabla (columnas, filas, celdas), cada celda contiene los datos de cada registro, usualmente
#la primer fila de la tabla esta reservado para el nombre de las columnas/variables de la base de datos.
#Un almacen de datos es un conjunto de datos que se recopilan de diferentes fuentes y se acomodan de una manera logica y entendible para quien vaya a usar la informacion.
#Las dos principales formas de hacer un almacen de datos es con ETL o ELT, ETL es la forma que era usada previamente al primero extraer la informacion, luego transformarla fuera de linea 
#y posteriormente se carga en el almacen de datos, esto lo hace menos eficiente con la tecnologia actual, donde ELT es una forma mas usada utilizando las grandes capacidades de los
#almacenes de datos donde se puede cargar la informacion como se tiene, y ahi mismo se hace la transformacion, haciendo lo mas eficiente para bases de datos muy grandes.


#Pre-procesamiento de la información

#En ocasiones es necesario realizar un pre-procesamiento de datos, los cuales incluye limpieza de los datos que hay en una base de datos, con la finalidad de mejorar la calidad de la 
#informacion para realizar un analisis mas acertado, parte de esta limpieza involucra eliminar valores nulos de algunas celdas o filas, una opcion alterna es rellenar esos valores nulos 
#con algun dato especifico, ya sea un dato fijo o si hay valores numericos utilizar la media, mediana o cualquier otro valor que pudiera ayudar a asignar un valor, es parte tambien
#de la limpieza de datos el identificar valores atipicos o que pudieran meter ruido al analisis.
#Adicionalmente el procesamiento de datos involucra la normalizacion de los datos y en casos muy especificos reducir la cantidad de datos para facilitar el analisis de la informacion.

In [4]:
#Seleccion y limpieza de datos

In [40]:
#Data Set Information:

#This research aimed at the case of customers default payments in Taiwan and compares the predictive accuracy of probability of default among six data mining methods. From the perspective of 
#risk management, the result of predictive accuracy of the estimated probability of default will be more valuable than the binary result of classification - credible or not credible clients. 
#Because the real probability of default is unknown, this study presented the novel â€œSorting Smoothing Methodâ€ to estimate the real probability of default. With the real probability of 
#default as the response variable (Y), and the predictive probability of default as the independent variable (X), the simple linear regression result (Y = A + BX) shows that the forecasting 
#model produced by artificial neural network has the highest coefficient of determination; its regression intercept (A) is close to zero, and regression coefficient (B) to one. Therefore, 
#among the six data mining techniques, artificial neural network is the only one that can accurately estimate the real probability of default.

In [41]:
#Información de los atributos:

#Esta investigacion utiliza variable binaria, como potencial pago (Si = 1, No= 0), como la variable de respuesta.  
#X1: Monto de credito otorgado (USD), incluye el credito del cliente mas el de su familia (suplementario) 
#X2: Genero (1 = hombre; 2 = mujer) 
#X3: Educacion (1 = posgrado; 2 = universidad; 3 = preparatoria; 4 = otros)
#X4: Estado civil (1 = casado; 2 = soltero; 3 = otros) 
#X5: Edad (años)
#X6-X11: Historial de pago. X6 = Estatus de reembolso en Septiembre, 2005; X7 = Estatus de reembolso en Agosto, 2005; . . .;X11 = Estatus de reembolso en Abril, 2005. 
#La escala de medicion para el estatus es: -1 = pago a tiempo; 1 = retraso de pago de 1 mes; 2 = retraso de pago de 2 meses; ...; 9= retraso de pago de 9 meses o mas.
#X12-X17: Monto estado de cuenta (USD). X12 = Estado de cuenta en Septiembre, 2005; X13 = Estado de cuenta en Agosto, 2005; . . .; X17 = Estado de cuenta en Abril, 2005. 
#X18-X23: Monto de pago previo (USD). X18 = Monto pagado en Septiembre, 2005; X19 = Monto pagado en Agosto, 2005; . . .;X23 = Monto pagado en Abril, 2005

In [5]:
#Importar pandas y numpy para usarlos a lo largo del programa
import pandas as pd
import numpy as np

In [7]:
#Leer base de datos proporcionada
df=pd.read_csv("CreditCardDB.csv",index_col=0)

In [8]:
#Mostrar los primeros 5 registros de la base de datos, para verificar informacion
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [9]:
#Verificar si en la base de datos hay algun elemento en blanco/nulo
df.isnull().values.any()

True

In [10]:
#Como si existen datos nulos, se procede a buscar en que columnas se encuentran
df.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [11]:
#Se descartan las observaciones con valores faltantes
df.dropna(inplace = True)

In [12]:
df.isna().values.any()

False

In [13]:
df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [63]:
#Hay 42 registros donde hay algun valor nulo, como aun asi alguna de estas filas puede ser de valor, se decide volver a cargar la base de datos completa y se procede a verificar datos
#nulos en columnas especificas

In [14]:
df = pd.read_csv("CreditCardDB.csv", index_col=0)
df.isna().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [48]:
#Se procede a hacer una copia de la base de datos en la variable ndf
ndf = df.copy()
ndf

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [25]:
#Se valida que en la primera columna no haya datos nulos
ndf.dropna(axis = 1, inplace = True) 
ndf

           X1
ID
1       20000
2      120000
3       90000
4       50000
5       50000
...       ...
29996  220000
29997  150000
29998   30000
29999   80000
30000   50000

[30000 rows x 1 columns]

In [55]:
#Si hay valores en blanco/nulos en las columnas X2, X3, X4 o X5 se procede a eliminar filas, ya que se consideran como los datos con mayor valor
ndf.dropna(subset=["X2","X3","X4","X5"])
ndf

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [62]:
#No se encontraron valores nulos en las columnas

In [46]:
#Se decide renombrar las columnas para que sea mas facil entender la tabla
ndf.rename(columns = {"X1":"Credit","X2":"Gender","X3":"Education","X4":"M.Status","X5":"Age","X6":"RP Sep-05","X7":"RP Aug-05","X8":"RP Jul-05","X9":"RP Jun-05","X10":"RP May-05","X11":"RP Apr-05","X12":"BS Sep-05","X13":"BS Aug-05","X14":"BS Jul-05","X15":"BS Jun-05","X16":"BS May-05","X17":"BS Apr-05","X18":"PP Sep-05","X19":"PP Aug-05","X20":"PP Jul-05","X21":"PP Jun-05","X22":"PP May-05","X23":"PP Apr-05"},inplace = True)
ndf

,Credit,Gender,Education,M.Status,Age,RP Sep-05,RP Aug-05,RP Jul-05,RP Jun-05,RP May-05,...,BS Jun-05,BS May-05,BS Apr-05,PP Sep-05,PP Aug-05,PP Jul-05,PP Jun-05,PP May-05,PP Apr-05,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [56]:
#Conclusiones

In [57]:
#1.- ¿Qué datos considero mas importantes? ¿Por qué?

#Credito otorgado, genero, educacion, estado civil y edad. Ya que alguna de esas variables o la suma de esas variables adicional al historial de pagos y estado de cuenta puede dar una
#relacion de clientes en base a esas caracteristicas son mas propensos a pagar, y que en base a eso se otorguen los creditos mas facilmente

In [58]:
#2.- ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?

#Se decidio no eliminar datos nulos, ya que en base a las variables que se consideran relevantes de la pregunta anterior, no habia datos con datos nulos, por lo que
#todos los registros se toman como validos e importantes para la evaluacion de la informacion y para el modelo predictivo.
#De igual manera se decidio no hacer reemplazo de datos nulos ya que seria dificil asignar un valor asi sea el promedio ya que pudiera influir en el calculo de prediccion propuesto

In [59]:
#3.- ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?

#Para esta base de datos no se ordendaron de manera diferente a como esta originalmente creada la base de datos, esto ya que la tabla cuenta con un orden entendible y facil de identificar

In [60]:
#4.- ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.

#Si, se decidio cambiar el nombre de las columnas por el nombre de los atributos para que sea mas facil interpretar la tabla o inclusive mandar llamar el valor de alguna celda durante 
#el analisis de la informacion, ya que de otra manera necesitas conocer el significado de los atributos o tener otra tabla que haga la interpretación.

In [61]:
#5.- ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?

#Se valido que no hubiera datos nulos en las columnas X1(Credito otorgado), X2(Genero), X3(Grado de estudios), X4(Estado civil), X5(Edad) ya que se consideran las variables de mayor valor
#una vez validado esto, se procedio a cambiar el nombre de las columnas (atributos) para que sea mas facil su identificacion durante el analisis. Se decidio no eliminar ni modificar
#registros ya que pudiera influir en el resutlado del analisis a realizar.